<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>error</title>

</head>
<body>
<h1>进到这个页面代表着某些东西有问题</h1>
<h2>比如脑子？</h2>
<h3>或者身体残疾</h3>
<h4>比如手残？</h4>
<h5>或者账号密码不正确</h5>
<h6>点击.返回到首页</h6>
<!--<a href="http://localhost:8080//login.html">-->
<a href="http://121.40.97.59:8800//login.html">
    <button class="bu" style="width: 100px; height: 50px">.</button>
</a>

<a href="https://cn.bing.com/search?q=%e8%84%91%e6%ae%8b%e6%80%8e%e4%b9%88%e6%b2%bb&qs=AS&pq=%e8%84%91%e6%ae%8b%e6%80%8e%e4%b9%88&sc=2-4&cvid=260C53254EBA47F3BA3448157E8DEC74&FORM=QBRE&sp=1">
    <button class="bu" style="width: 100px; height: 50px">返回到首页</button>
</a>
<!--unless时if的反义 为true就不显示-->
<!--<div style="color: red" th:unless="${#strings.isEmpty(msg)}" th:text="${msg}"></div>-->
</body>
</html>